# Load and visualize Data

In [ ]:
#!pip install numpy
#!pip install pandas

Requirement already satisfied: numpy in f:\users\faiz\anaconda3\envs\aide506\lib\site-packages (2.2.3)
Requirement already satisfied: pandas in f:\users\faiz\anaconda3\envs\aide506\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in f:\users\faiz\anaconda3\envs\aide506\lib\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in f:\users\faiz\anaconda3\envs\aide506\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in f:\users\faiz\anaconda3\envs\aide506\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in f:\users\faiz\anaconda3\envs\aide506\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in f:\users\faiz\anaconda3\envs\aide506\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [43]:
#!pip install scikit-learn

Requirement already satisfied: scikit-learn in f:\users\faiz\anaconda3\envs\aide506\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in f:\users\faiz\anaconda3\envs\aide506\lib\site-packages (from scikit-learn) (2.2.3)
Requirement already satisfied: scipy>=1.6.0 in f:\users\faiz\anaconda3\envs\aide506\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in f:\users\faiz\anaconda3\envs\aide506\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in f:\users\faiz\anaconda3\envs\aide506\lib\site-packages (from scikit-learn) (3.5.0)

In [1]:
import numpy as np 
import pandas as pd
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [15]:
data_file=pd.read_csv('G:\LebanseUni\M2\S1\AIDE506-Advanced Machine learining Topics\Project\Data\WA_Fn-UseC_-Telco-Customer-Churn.csv')
data_file.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

## check missing values

In [46]:
print(data_file.dtypes)

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [47]:
print((data_file["TotalCharges"] == " ").sum())

11

In [16]:
data_file["TotalCharges"] = data_file["TotalCharges"].replace(" ", pd.NA)

In [17]:
print(data_file.isnull().sum())

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [18]:
data_file["TotalCharges"] = pd.to_numeric(data_file["TotalCharges"], errors='coerce')
data_file["TotalCharges"].fillna(data_file["TotalCharges"].median(), inplace=True)

C:\Users\faiz\AppData\Local\Temp\ipykernel_6032\2385132135.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_file["TotalCharges"].fillna(data_file["TotalCharges"].median(), inplace=True)

## drop useless columns

In [19]:
data_file.drop(columns=["customerID"], inplace=True)

## convert catigury to int

In [20]:
from sklearn.preprocessing import LabelEncoder

label_encoders = {}  # Dictionary to store LabelEncoder objects for each column

for column in data_file.columns:
    if data_file[column].dtype == "object":
        le = LabelEncoder()  # Create a new LabelEncoder instance for each column
        data_file[column] = le.fit_transform(data_file[column])
        label_encoders[column] = le  # Store the encoder for later use

        print(f"Column: {column}, Unique Values: {data_file[column].unique()}")

# Print stored mappings for each column
print("\nLabel Mappings:")
for column, le in label_encoders.items():
    print(f"{column}: {dict(zip(le.classes_, le.transform(le.classes_)))}")

Column: gender, Unique Values: [0 1]
Column: Partner, Unique Values: [1 0]
Column: Dependents, Unique Values: [0 1]
Column: PhoneService, Unique Values: [0 1]
Column: MultipleLines, Unique Values: [1 0 2]
Column: InternetService, Unique Values: [0 1 2]
Column: OnlineSecurity, Unique Values: [0 2 1]
Column: OnlineBackup, Unique Values: [2 0 1]
Column: DeviceProtection, Unique Values: [0 2 1]
Column: TechSupport, Unique Values: [0 2 1]
Column: StreamingTV, Unique Values: [0 2 1]
Column: StreamingMovies, Unique Values: [0 2 1]
Column: Contract, Unique Values: [0 1 2]
Column: PaperlessBilling, Unique Values: [1 0]
Column: PaymentMethod, Unique Values: [2 3 0 1]
Column: Churn, Unique Values: [0 1]

Label Mappings:
gender: {'Female': np.int64(0), 'Male': np.int64(1)}
Partner: {'No': np.int64(0), 'Yes': np.int64(1)}
Dependents: {'No': np.int64(0), 'Yes': np.int64(1)}
PhoneService: {'No': np.int64(0), 'Yes': np.int64(1)}
MultipleLines: {'No': np.int64(0), 'No phone service': np.int64(1), 'Yes': np.int64(2)}
InternetService: {'DSL': np.int64(0), 'Fiber optic': np.int64(1), 'No': np.int64(2)}
OnlineSecurity: {'No': np.int64(0), 'No internet service': np.int64(1), 'Yes': np.int64(2)}
OnlineBackup: {'No': np.int64(0), 'No internet service': np.int64(1), 'Yes': np.int64(2)}
DeviceProtection: {'No': np.int64(0), 'No internet service': np.int64(1), 'Yes': np.int64(2)}
TechSupport: {'No': np.int64(0), 'No internet service': np.int64(1), 'Yes': np.int64(2)}
StreamingTV: {'No': np.int64(0), 'No internet service': np.int64(1), 'Yes': np.int64(2)}
StreamingMovies: {'No': np.int64(0), 'No internet service': np.int64(1), 'Yes': np.int64(2)}
Contract: {'Month-to-month': np.int64(0), 'One year': np.int64(1), 'Two year': np.int64(2)}
PaperlessBilling: {'No': np.int64(0), 'Yes': np.int64(1)}
PaymentMethod: {'Bank transfer (automatic)': np.int64(0), 'Credit card (automatic)': np.int64(1), 'Electronic check': np.int64(2), 'Mailed check': np.int64(3)}
Churn: {'No': np.int64(0), 'Yes': np.int64(1)}

In [21]:
print("\nLabel Mappings for Encoded Columns:")
print(label_encoders)
for column, le in label_encoders.items():
    print(f"\nColumn: {column}")
    for original_label, encoded_value in zip(le.classes_, le.transform(le.classes_)):
        print(f"  {original_label} -> {encoded_value}")

Label Mappings for Encoded Columns:
{'gender': LabelEncoder(), 'Partner': LabelEncoder(), 'Dependents': LabelEncoder(), 'PhoneService': LabelEncoder(), 'MultipleLines': LabelEncoder(), 'InternetService': LabelEncoder(), 'OnlineSecurity': LabelEncoder(), 'OnlineBackup': LabelEncoder(), 'DeviceProtection': LabelEncoder(), 'TechSupport': LabelEncoder(), 'StreamingTV': LabelEncoder(), 'StreamingMovies': LabelEncoder(), 'Contract': LabelEncoder(), 'PaperlessBilling': LabelEncoder(), 'PaymentMethod': LabelEncoder(), 'Churn': LabelEncoder()}

Column: gender
  Female -> 0
  Male -> 1

Column: Partner
  No -> 0
  Yes -> 1

Column: Dependents
  No -> 0
  Yes -> 1

Column: PhoneService
  No -> 0
  Yes -> 1

Column: MultipleLines
  No -> 0
  No phone service -> 1
  Yes -> 2

Column: InternetService
  DSL -> 0
  Fiber optic -> 1
  No -> 2

Column: OnlineSecurity
  No -> 0
  No internet service -> 1
  Yes -> 2

Column: OnlineBackup
  No -> 0
  No internet service -> 1
  Yes -> 2

Column: DeviceProtection
  No -> 0
  No internet service -> 1
  Yes -> 2

Column: TechSupport
  No -> 0
  No internet service -> 1
  Yes -> 2

Column: StreamingTV
  No -> 0
  No internet service -> 1
  Yes -> 2

Column: StreamingMovies
  No -> 0
  No internet service -> 1
  Yes -> 2

Column: Contract
  Month-to-month -> 0
  One year -> 1
  Two year -> 2

Column: PaperlessBilling
  No -> 0
  Yes -> 1

Column: PaymentMethod
  Bank transfer (automatic) -> 0
  Credit card (automatic) -> 1
  Electronic check -> 2
  Mailed check -> 3

Column: Churn
  No -> 0
  Yes -> 1

In [53]:
data_file.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,29.85,29.85,0
1,1,0,0,0,34,1,0,0,2,0,2,0,0,0,1,0,3,56.95,1889.50,0
2,1,0,0,0,2,1,0,0,2,2,0,0,0,0,0,1,3,53.85,108.15,1
3,1,0,0,0,45,0,1,0,2,0,2,2,0,0,1,0,0,42.30,1840.75,0
4,0,0,0,0,2,1,0,1,0,0,0,0,0,0,0,1,2,70.70,151.65,1

## standardization

In [54]:
scaler = StandardScaler()
data_file[["tenure", "MonthlyCharges", "TotalCharges"]] = scaler.fit_transform(data_file[["tenure", "MonthlyCharges", "TotalCharges"]])

In [55]:
data_file.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,-1.277445,0,1,0,0,2,0,0,0,0,0,1,2,-1.160323,-0.994242,0
1,1,0,0,0,0.066327,1,0,0,2,0,2,0,0,0,1,0,3,-0.259629,-0.173244,0
2,1,0,0,0,-1.236724,1,0,0,2,2,0,0,0,0,0,1,3,-0.362660,-0.959674,1
3,1,0,0,0,0.514251,0,1,0,2,0,2,2,0,0,1,0,0,-0.746535,-0.194766,0
4,0,0,0,0,-1.236724,1,0,1,0,0,0,0,0,0,0,1,2,0.197365,-0.940470,1

## save the file

In [58]:
data_file.to_csv("../Data/processed_data.csv", index=False)